@charset 'utf-8';
@font-face{
    font-family : 'Heebo';
    src : url('../fonts/Heebo-Regular.ttf') format('truetype');

}
@font-face{
    font-family : 'Heebo';
    src : url('../fonts/Heebo-Bold.ttf') format('truetype');
    font-weight:700
}


*{
    margin:0;
    padding:0
}

html, body{
    font-family:'Heebo', sans-serif;
    color:#666;
    font-size:15px;
    height:100%;
}

.blind{
    position: absolute;
    left:-9999px;
}

ul,ol{
    list-style:none;
}

#wrap{
    min-height:100%;
    width:100%;
    background: url(../images/bg_main.png) no-repeat 0 50%;
    background-size:cover;
    background-attachment: fixed;
}

img{
    vertical-align: top;
}

a{
    color:#666;
    text-decoration: none;
}

button{
    cursor:pointer;
}

#header{
    position: fixed;
    left:0;
    top:0;
    z-index:100;
    width:100%;
    height:49px;
    border-bottom:1px solid rgba(255,255,255,0.3);
    transition: 0.2s;
}

#header.inverted{
    background:#fff;
    border:0;
}
.inner_header{
    width:1080px;
    margin:0 auto; 
    height:100%;
}
.logo{
    overflow: hidden;
    float:left;
    width:154px;
    height:20px;
    margin-top:15px;
    background: url(../images/image_logo_white.png) no-repeat 0 0;
    text-indent: -9999px;
    line-height:0;
    font-size:0
}

#header.inverted .logo{
    background-image: url(../images/image_logo_color.png) 
}
.util{
    float:right;
    font-size:0;
}
.util a{
    font-size:1rem;
    color:#fff;
    display: inline-block;
    padding:0 10px;
    height:49px;
    line-height:49px;
}
.util a:first-child{
    background:url(../images/line_maintop_gray.png) no-repeat 100% 50%;
}
#header.inverted .util a{
    color:#000;
}

#container{
    padding-top:50px;
    box-sizing:border-box;
}
#content{
    width:1080px;
    margin:0 auto;
}

.title{
    text-align: center;
    padding-top:250px;
    font-size:80px;
    color:#fff;
    margin-bottom:10px;
}

.title_sub_txt{
    text-align: center;
    font-size:25px;
    color:#fff;
}

#searchPannel{
    margin:110px 0;
    background: #fff;
    padding:50px 75px;
    box-sizing:border-box;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2) 
}
.pannel_block{
    display: inline-block;
    margin-right:15px;
    vertical-align: bottom;
}
.pannel_block label{
    display: block;
    margin-bottom: 10px;
    color:#333;
    font-weight:700;
}
.pannel_block input[type="text"]{
    width:330px;
    height:55px;
    border:1px solid #ccc;
    box-sizing: border-box;
    padding:0 10px;
    font-size:15px;
}
.btn_srch{
    width:210px;
    height:55px;
    background: #4299e1;
    color:#fff;
    font-size:18px;
    border:0;
}
.btn_srch:before{
    content:"";
    display: inline-block;
    width:22px;
    height:22px;
    background: url(../images/icon_search_on.png) no-repeat 0 0;
    vertical-align: middle;
    margin-right:3px;
}

.ui-datepicker{
    width:330px;
    box-sizing: border-box;
}

#searchList{
    overflow: hidden;
    width:1080px;
    margin:0 auto;
}

.tour_list{
    overflow: hidden;
    width:1110px;
    margin-left:-10px;
    margin-top:-10px;
}
.list_panel{
    position: relative;
    box-sizing:border-box;
    float:left;
    width:350px;
    height:440px;
    padding-top:265px;
    margin:10px;
    background:#fff;
    cursor:pointer;
}
.list_panel .img{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:265px;
}
.list_panel .img img{
    width:100%;
    height:100%
}
.list_panel .name{
    padding:10px;
    font-size:18px;
    font-weight:700;
    color:#333
}
.list_panel .city{
    padding:10px;
    font-size:16px;
    line-height:100%;
}
.list_panel .city:before{
    content:"";
    display: inline-block;
    vertical-align: middle;
    width:13px;
    height:16px;
    background:url(../images/icon_list_location.png) no-repeat 0 0;
    margin-right:8px;
}

.detail_section{    
    padding:10px 20px;
    background: #fff;
}

.view_header{
   overflow: hidden;
}
.view_header .path{
   float:left;
   line-height:40px;
   margin-bottom: 30px;
}
.view_header .path .name{
    font-weight:700;
    font-size:16px;
    color:#333;
    vertical-align: middle;
    margin-right:10px;
}
.view_header .path .city{
    display: inline-block;
    padding-left:15px;
    vertical-align: middle;
    font-size:0.9rem;
    background: url(../images/icon_list_location.png) no-repeat 0 50%;
}
.view_header .btn_register{
   float:right;
   padding:0 20px;
   background: #4299e1;
   color:#fff;
   border:0;
   height:40px;
}
.detail_section .img{
    width:100%;
    height:400px;
    margin:0 auto 20px;
    background: #ccc;
}
.detail_section .img img{
    width:100%;
    height:100%;
}
.detail_section .place{
    margin-bottom: 20px;
}
.detail_section .dd{
    font-size:14px;
    line-height:150%;
}
.detail_section .descript_title{
    font-size: 16px;
    font-weight:700;
    letter-spacing: -1px;
}
.detail_section #map{
    width:100%;
    height:300px;
}

.my_trips_section{
    background:#fff;
    margin:20px 0;
    height:500px;
    padding:20px;
    font-size:0;
}

.my_map{
    display: inline-block;
    width: 580px;
    height:100%;
    background: gray;
    vertical-align: top;
}
.my_list{
    display: inline-block;
    width:440px;
    margin-left:20px;
    vertical-align: top;
    height:500px;
    overflow:auto;
}
.my_list li{
    position: relative;
    border:1px solid #2d2d2d;
    height:60px;
    padding:10px 0 0 50px;
    background: url(../images/icon_location.png) no-repeat 20px 50%;
    cursor: pointer;
    margin-bottom: 20px;
}
.my_list .place{
    font-size:16px;
    font-weight:700;
    display: block;
    margin-bottom: 5px;
}
.my_list .city{
    font-size:14px;
    display: block;
}
.my_list .btn_mylist_del{
    position: absolute;
    right:10px;
    top:10px;
    width:24px;
    height:24px;
    background: transparent  url(../images/btn_close.png) no-repeat 50% 50%;
    text-indent:-9999px;
    overflow:hidden;
    border:0
}

.login{
    background: #fff;
    width:400px;
    margin:100px auto 0;
    box-sizing:border-box;
    padding:50px;
}

.login .tit{
    display: block;
    font-size:26px;
    font-weight:400;
    text-align: center;
}
.login .tit .name{
    color:#4299e1
}
.login .txt{
    font-size:14px;
    text-align: center;
    margin-bottom: 20px;
}
.login .i_email{
    box-sizing:border-box;
    width:100%;
    padding:0 20px;
    border:1px solid #ccc;
    height:40px;
    line-height:40px;
    margin-bottom: 20px;
}

.login .btn_register{
    width:100%;
    height:40px;
    color:#fff;
    background:#4299e1;
    border:0;
    margin-bottom: 10px;
}

.login .btn_back{
    width:100%;
    height:40px;
    color:#fff;
    background:#666;
    border:0;
}

.login .txt_warning{
    display: none;
    color:red;
    text-align: center;
    margin-bottom: 20px;
    font-size:14px;
}

.login .i_pswd{
    box-sizing:border-box;
    width:100%;
    padding:0 20px;
    border:1px solid #ccc;
    height:40px;
    line-height:40px;
    margin-bottom: 10px;
}

.login .i_pswd_confirm{
    box-sizing:border-box;
    width:100%;
    padding:0 20px;
    border:1px solid #ccc;
    height:40px;
    line-height:40px;
    margin-bottom: 20px;
}
.login .gender{
    margin-bottom: 10px;
}

.login .birth{
    margin-bottom: 10px;
    border:1px solid #ccc;
    height:40px;
    padding:0 15px;
    cursor:pointer;
}

.login .accept{
    font-size:13px;
    margin-bottom: 20px;
}