@charset 'utf-8';
@font-face{
    font-family : 'Heebo'
    src : url('../fonts/Heebo-Regular.ttf') format('truetype');

}
@font-face{
    font-family : 'Heebo'
    src : url('../fonts/Heebo-Bold.ttf') format('truetype');
    font-weight:700
}


*{
    margin:0;
    padding:0
}

html, body{
    font-family:'Heebo', sans-serif;
    color:#666;
    font-size:15px;
    height:100%;
}

.blind{
    position: absolute;
    left:-9999px;
}

#wrap{
    min-height:100%;
    width:100%;
    background: url(../images/bg_main.png) no-repeat 0 50%;
    background-size:cover;
    background-attachment: fixed;
}

img{
    vertical-align: top;
}

a{
    color:#666;
    text-decoration: none;
}

button{
    cursor:pointer;
}

#header{
    position: fixed;
    left:0;
    top:0;
    z-index:100;
    width:100%;
    height:49px;
    border-bottom:1px solid rgba(255,255,255,0.3);
    transition: 0.2s;
}

#header.inverted{
    background:#fff;
    border:0;
}
.inner_header{
    width:1080px;
    margin:0 auto; 
    height:100%;
}
.logo{
    overflow: hidden;
    float:left;
    width:154px;
    height:20px;
    margin-top:15px;
    background: url(../images/image_logo_white.png) no-repeat 0 0;
    text-indent: -9999px;
    line-height:0;
    font-size:0
}

#header.inverted .logo{
    background-image: url(../images/image_logo_color.png) 
}
.util{
    float:right;
    font-size:0;
}
.util a{
    font-size:1rem;
    color:#fff;
    display: inline-block;
    padding:0 10px;
    height:49px;
    line-height:49px;
}
.util a:first-child{
    background:url(../images/line_maintop_gray.png) no-repeat 100% 50%;
}
#header.inverted .util a{
    color:#000;
}

#content{
    width:1080px;
    margin:0 auto;
}

.title{
    text-align: center;
    padding-top:250px;
    font-size:80px;
    color:#fff;
    margin-bottom:10px;
}

.title_sub_txt{
    text-align: center;
    font-size:25px;
    color:#fff;
}

#searchPannel{
    margin:110px 0;
    background: #fff;
    padding:50px 75px;
    box-sizing:border-box;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2) 
}
.pannel_block{
    display: inline-block;
    margin-right:15px;
    vertical-align: bottom;
}
.pannel_block label{
    display: block;
    margin-bottom: 10px;
    color:#333;
    font-weight:700;
}
.pannel_block input[type="text"]{
    width:330px;
    height:55px;
    border:1px solid #ccc;
    box-sizing: border-box;
    padding:0 10px;
    font-size:15px;
}
.btn_srch{
    width:210px;
    height:55px;
    background: #4299e1;
    color:#fff;
    font-size:18px;
    border:0;
}
.btn_srch:before{
    content:"";
    display: inline-block;
    width:22px;
    height:22px;
    background: url(../images/icon_search_on.png) no-repeat 0 0;
    vertical-align: middle;
    margin-right:3px;
}

.ui-datepicker{
    width:330px;
    box-sizing: border-box;
}

#searchList{
    overflow: hidden;
    width:1080px;
    margin:0 auto;
}

.tour_list{
    overflow: hidden;
    width:1110px;
    margin-left:-10px;
    margin-top:-10px;
}
.list_panel{
    position: relative;
    box-sizing:border-box;
    float:left;
    width:350px;
    height:440px;
    padding-top:265px;
    margin:10px;
    background:#fff;
}
.list_panel .img{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:265px;
}
.list_panel .img img{
    width:100%;
    height:100%
}
.list_panel .name{
    padding:10px;
    font-size:18px;
    font-weight:700;
    color:#333
}
.list_panel .city{
    padding:10px;
    font-size:16px;
    line-height:100%;
}
.list_panel .city:before{
    content:"";
    display: inline-block;
    vertical-align: middle;
    width:13px;
    height:16px;
    background:url(../images/icon_list_location.png) no-repeat 0 0;
    margin-right:8px;
}